<footer>
    <h3>Made by Yash Saroha</h3>
    <div class="socials">
        <a href="tel:7988008862"><img src="images/phone.png" alt=""></a>
        <a href="mailto:yashsaroha966@gmail.com" target="_blank"><img src="images/gmail.png" alt=""></a>
        <a href="https://www.linkedin.com/in/yash-saroha/" target="_blank"><img src="images/linkedin.png" alt=""></a>
        <a href="https://github.com/YashSaroha" target="_blank"><img src="images/github.png" alt=""></a>
        <a href="https://www.instagram.com/yash___saroha/" target="_blank"><img src="images/instagram.png" alt=""></a>
        <a href="https://api.whatsapp.com/send?phone=7988008862&text=Hello" target="_blank"><img src="images/whatsapp.png" alt=""></a>
    </div>
</footer>