<header>
    <div class="logo">
        <a id="image" href="/"><img src="images/logo.png" alt=""></a>
        <a id="title" href="/"><h4>Weather App</h4></a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/weather">Weather</a></li>
        </ul>
    </div>
</header>