<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather App</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
</head>
<body>
    {{>header}}
    
    <div class="about-main">
        <div class="about-left-box">
            <img src="images/me.jpg" alt="">
        </div>
        <div class="about-right-box">
            <h3>Hey there,</h3>
            <h1>I am a MERN stack Developer and Designer who loves to create beautiful looking and responsive websites.</h1>
            <a href="https://portfolio-yashsaroha.vercel.app/" target="_blank"><button>About Me</button></a>
        </div>
    </div>


    {{>footer}}
</body>
</html>